$darkBlue: #363853;
$darkGrey: #68617e;
$grey: #67687D;
$primary: #2858ff;
$border: #b9b9c3;
$divider: #d3d3d9;
$lightGrey: #F7F7F8;
$lowGrey: #F9F9FA;

/**
 * Couleur pastel
 */
$lowPink: #FFECF9;
$mainPink: #FF47C5;

$lowOrange: #FFF7EB;
$mainOrange: #FCB335;

$blue: #2858ff;
$lowBlue: #EEF2FF;

$green: #C5DB53;
$lowGreen: #FAFEE6;