@import "variables";
@import "fonts";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  color: $darkBlue;
}

.permanent-dark-blue {
  color: $darkBlue !important;
}

@keyframes slideFadeIn {
  from {
    width: 15px;
    opacity: 0;
    left: 15px;
  }
  to {
    width: 15px;
    opacity: 1;
    left: 0;
  }
}

.align-end {
  display: flex;
  justify-content: flex-end !important;
}

.main-logo {
  display: flex;
  height: 38px !important;
  align-items: center;
}

.secondary-logo {
  display: flex;
  height: 45px !important;
  align-items: center;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  a {
    color: $darkGrey;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $darkBlue;
    }

    &::after {
      content: "";
      transition: all 1s ease;
      display: block;
      width: 15px;
      height: 3px;
      border-radius: 5px;
      background-color: $primary;
      margin-top: -2px;
      position: absolute;
      opacity: 0;
    }

    &.nav-active::after {
      animation: slideFadeIn 0.3s ease forwards;
    }

    &.nav-active {
      color: $darkBlue !important;
      font-weight: bold;
      position: relative;

      &:hover {
        color: $darkBlue;
        font-weight: bold;
      }
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.primary-button {
  background-color: $primary;
  padding: 10px 20px;
  border-radius: 10px;
  height: 50px !important;
  width: 200px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;

  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.border-red-500 {
  border-color: red !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $divider;
}

.coachly-title {
  font-size: 32px;
  font-weight: bold;
  color: $darkBlue;
}

.coachly-white-title {
  font-size: 62px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
}

.coachly-form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .coachly-form-input-title {
    font-size: 15px;
    font-weight: 500;
    color: $darkBlue;
  }

  .coachly-form-input {
    padding: 15px;
    padding-left: 20px;
    border: 1px solid transparent;
    padding-right: 20px;
    background-color: $lightGrey;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $darkBlue;

    &:hover {
      border: 1px solid $primary;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }
}

.bg-primary {
  background-color: $primary;
}

.border-box-grey {
  border: 1px solid $border;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-40 {
  border-radius: 40px;
}

.low-white-button {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 300px;

  font-size: 17px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 26px;
}

.coachly-footer {
  .footer-column {
    .footer-title {
      font-size: 13px;
      font-weight: 500;
      color: $darkGrey;
    }

    .footer-link {
      font-size: 17px;
      font-weight: 500;
      color: $darkBlue;

      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}

.line-under-start-pink::after {
  content: "";
  display: block;
  width: 50px;
  border-radius: 5px;
  height: 5px;
  background-color: $mainPink;
  margin-top: -8px;
}

.line-under-start-orange::after {
  content: "";
  display: block;
  width: 50px;
  border-radius: 5px;
  height: 5px;
  background-color: $mainOrange;
  margin-top: -8px;
}

.color-lowpink {
  background-color: $lowPink !important;
}

.color-lowOrange {
  background-color: $lowOrange !important;
}

.text-mainpink {
  color: $mainPink !important;
}

.text-mainOrange {
  color: $mainOrange !important;
}

.blog-pagination-button {
  background-color: $lightGrey;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  color: $darkBlue;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.blog-card {
  width: 100%;
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #f9f9fa;
  border: 1px solid transparent;
  padding: 21px;

  &:hover {
    border: 1px solid $mainPink;
  }

  &:hover > .card-link {
    text-decoration: underline;
  }

  .card-image {
    width: 100%;
    height: 230px;
    border-radius: 20px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: $darkBlue;
  }

  .card-link {
    color: $mainPink;
    font-size: 17px;
    font-weight: 500;
  }

  .card-description {
    height: 200px;
    overflow: hidden;
    font-size: 17px;
    font-weight: 300;
    color: $grey;
    text-overflow: ellipsis;
  }
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.blog-page {
  .image {
    height: 525px !important;
  }
}

.tutorial-list {
  .section-title {
    font-size: 32px;
    font-weight: bold;
    color: $darkBlue;
  }

  .section-desc {
    font-size: 23px;
    font-weight: 400;
    color: $darkGrey;
  }

  .tutorial-card {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #f9f9fa;
    border: 1px solid transparent;
    padding: 21px;

    &:hover {
      border: 1px solid $mainOrange;
    }

    &:hover > .card-link {
      text-decoration: underline;
    }

    .tutorial-main-image {
      width: 100%;
      object-fit: contain;
      height: 150px;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      color: $darkBlue;
    }

    .card-link {
      color: $mainOrange;
      font-size: 17px;
      font-weight: 500;
    }

    .card-description {
      height: 100px;
      overflow: hidden;
      font-size: 17px;
      font-weight: 300;
      color: $grey;
      text-overflow: ellipsis;
    }
  }
}

.tutorial-page {
  .tutorial-redirect-list {
    background-color: $lightGrey;
    border-radius: 20px;
  }

  .section-title {
    font-size: 13px;
    font-weight: 500;
    color: $darkGrey;
  }

  .section-link {
    font-size: 15px;
    font-weight: 500;
    color: $darkBlue;

    &.link-active::after {
      animation: slideFadeIn2 0.3s ease forwards;
    }

    &::after {
      content: "";
      transition: all 1s ease;
      display: block;
      width: 12px;
      height: 3px;
      border-radius: 15px;
      background-color: $primary;
      margin-top: -2px;
      position: absolute;
      opacity: 0;
    }

    &:hover {
      color: $primary;
    }
  }
}

@keyframes slideFadeIn2 {
  from {
    opacity: 0;
    left: 2rem;
  }
  to {
    opacity: 1;
    left: 1rem;
  }
}

.coachly-project {
  .lowblue-bento-box {
    border-radius: 20px;
    background-color: $lowBlue;
  }

  .bento-box {
    border-radius: 20px;
    background-color: $lowGrey;
  }
}